# Лекция 1 
# Базовый SQL

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.25)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.2.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.8.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)

In [ ]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
%%sql 
select 'Hello, world';

 * sqlite://
Done.

[('Hello, world',)]

In [ ]:
%%sql 
select 'Hello, world' as hw

 * sqlite://
Done.

[('Hello, world',)]

Пара замечаний:
 * Мы используем веб-интерфейс для python, поэтому для запуска SQL запросов необходимо применить ряд вещей:
     * Необходимо подключить расширение SQL через так называемые magic command. [Более подробно здесь](https://ipython.readthedocs.io/en/stable/interactive/magics.html)
     * Для работы с SQL надо вызвать либо %sql для однострочной команды, либо %%sql - для многострочной
     * При использовании выражения SELECT результатом вывода является таблица, но при этом в notebook выводится уже внутренне представление языка python (объект класса sql.run.resultset, подробности далее), что приводит к ряду несоответствий (например, None вместо NULL)

Давайте создадим таблицу, заполним ее и сделаем какой-нибудь запрос!

In [ ]:
%%sql                                             -- Базовый синтаксис:
drop table if exists product;                     -- удаление таблицы, если существует

create table product(                             -- синтаксис создания таблицы, объявление столбцов:
       pname        varchar primary key,          -- имя продукта, первичный ключ
       price        decimal(10,2),                -- цена продукта
       category     varchar(30),                  -- категория
       manufacturer varchar(30) NOT NULL          -- производитель, not null не дает вводить значение null
);

 * sqlite://
Done.
Done.

[]

In [ ]:
%%sql
insert into product (pname, price, category, manufacturer) values ('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг');

insert into product values('Клавиатура', 949.99, 'Техника', 'Sven');

insert into product 
    values ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
           ('Батарейка', 39.99, 'Для дома', 'Energizer'),
           ('Энергетик', 89.00, 'Напитки', 'Redbull');

 * sqlite://
1 rows affected.
1 rows affected.
3 rows affected.

[]

In [ ]:
%%sql
--insert into product (pname, category) values ('Маркер', 'Канцелярия');
--insert into product (pname, price, category, manufacturer) values ('Тетрадь', 49.99, 'Канцелярия', 'BG');

 * sqlite://
0 rows affected.

[]

Посмотрим на полученную таблицу.

In [ ]:
%sql select * from product;

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Энергетик', 89, 'Напитки', 'Redbull')]

In [ ]:
product_result=%sql select * from product

 * sqlite://
Done.

In [ ]:
print(type(product_result))
print(product_result)

<class 'sql.run.ResultSet'>
+------------+--------+------------+------------------+
|   pname    | price  |  category  |   manufacturer   |
+------------+--------+------------+------------------+
|  Тетрадь   | 39.99  | Канцелярия | Академия холдинг |
| Клавиатура | 949.99 |  Техника   |       Sven       |
|  Степлер   | 129.99 | Канцелярия |     Brauberg     |
| Батарейка  | 39.99  |  Для дома  |    Energizer     |
| Энергетик  |   89   |  Напитки   |     Redbull      |
+------------+--------+------------+------------------+

Обратите внимание на тип. Более подробно по данной библиотеки можно почитать:
https://github.com/catherinedevlin/ipython-sql

# Немного SQL терминологии
* _имя_ таблицы - product.
* Каждая строка таблицы называется _строкой_ или _кортеж_. 
* Заметьте, что все кортежи имеют _поля_ или _атрибуты_.
* Количество строк называет _мощностью_, в то время как количество атрибутов _арностью_

# Простые запросы
* Рассмотрим основы SQL на примере
* В интернете очень много SQL туториалов, сейчас мы всего лишь вспомним базовые вещи

> SELECT <Множество атрибутов><br>
> FROM <список таблиц и условие на соединение><br>
> WHERE <список условий>

Это простейший SELECT-FROM-WHERE (SFW) блок. Давайте посмотрим на примерах!

In [ ]:
%%sql
SELECT * 
  FROM Product 
WHERE category = 'Канцелярия' AND manufacturer = 'Brauberg';

 * sqlite://
Done.

[('Степлер', 129.99, 'Канцелярия', 'Brauberg')]

\* \- В данном случае обозначает вывод всех полей, которые были описаны во FROM

Посмотрим на примеры *проекции*, то есть получим только несколько атрибутов запроса.

In [ ]:
%%sql 
SELECT Pname, 
       Price, 
       Manufacturer
  FROM Product;

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Академия холдинг'),
 ('Клавиатура', 949.99, 'Sven'),
 ('Степлер', 129.99, 'Brauberg'),
 ('Батарейка', 39.99, 'Energizer'),
 ('Энергетик', 89, 'Redbull')]

* На выходе *все еще* таблица и ее схема -
> Answer(pname, price, manufacturer)

* Можно объединять выборку и проекцию + менять результат

In [ ]:
%%sql
SELECT Pname, Price * 2 as price_x2, Manufacturer
FROM Product
WHERE category in ('Напитки', 'Канцелярия');

 * sqlite://
Done.

[('Тетрадь', 79.98, 'Академия холдинг'),
 ('Степлер', 259.98, 'Brauberg'),
 ('Энергетик', 178, 'Redbull')]

In [ ]:
%%sql
SELECT pname || '->' || price || '->' || manufacturer as concat
FROM Product
WHERE category = 'Напитки';

 * sqlite://
Done.

[('Энергетик->89->Redbull',)]

На выходе запроса к таблице - снова таблица 
---------------------------------

In [ ]:
%%sql
SELECT p0.manufacturer
FROM Product p0
WHERE p0.price < 100.00;

 * sqlite://
Done.

[('Академия холдинг',), ('Energizer',), ('Redbull',)]

In [ ]:
%%sql
SELECT
    p.manufacturer, p.pname, p.price
FROM 
    (SELECT p0.manufacturer
     FROM Product p0
     WHERE p0.price < 100.00) cp, -- вложенный запрос
    Product p
WHERE 
    p.manufacturer = cp.manufacturer AND p.category = 'Канцелярия'

 * sqlite://
Done.

[('Академия холдинг', 'Тетрадь', 39.99)]

Небольшие детали
--------------

* Некоторые элементы регистро-независимые:
  * Одно и то же: SELECT  Select  select
  * Одно и то же: Product   product
  * Разные: ‘Brauberg’  ‘brauberg’ (Здесь это строковая константа)

In [ ]:
%sql select * from product;

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Энергетик', 89, 'Напитки', 'Redbull')]

LIKE
====
Регулярные выражения

Опертор LIKE нужен для поиска строк:
    
> SELECT *
> FROM Products
> WHERE pname like '%word%'

* % - сколько угодно символов
* \_ ровно один символ
* оператор LIKE - регистрозависимый

In [ ]:
%%sql
SELECT * FROM product
where category LIKE '%ка%'

 * sqlite://
Done.

[('Клавиатура', 949.99, 'Техника', 'Sven')]

In [ ]:
%%sql
SELECT * FROM product
where category LIKE '_а%'

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Энергетик', 89, 'Напитки', 'Redbull')]

Убрать дубли
---------------------
* Дубли не всегда хорошо, и иногда их стоит убирать
  * Помните, что таблицы - _мультимножества_!

In [ ]:
%sql SELECT category from product;

 * sqlite://
Done.

[('Канцелярия',), ('Техника',), ('Канцелярия',), ('Для дома',), ('Напитки',)]

In [ ]:
%%sql 
-- чтобы убрать дубли используйте слово DISTINCT
SELECT DISTINCT category from product;

 * sqlite://
Done.

[('Канцелярия',), ('Техника',), ('Для дома',), ('Напитки',)]

Сортировка результатов
---------------------
* Так как Таблица - это мультимножество, то порядок вывода строк не гарантирован. Иногда необходимо выводить строки в определенном порядке

In [ ]:
%%sql
-- сортировка результатов
-- сортировка по умолчанию - ascending
SELECT   pname, price, manufacturer
FROM     Product
WHERE    price < 400
ORDER BY price, pname

 * sqlite://
Done.

[('Батарейка', 39.99, 'Energizer'),
 ('Тетрадь', 39.99, 'Академия холдинг'),
 ('Энергетик', 89, 'Redbull'),
 ('Степлер', 129.99, 'Brauberg')]

In [ ]:
%%sql
-- сортировка результатов
-- тип сортировки каждого компонента определяется индивидуально
SELECT   price, manufacturer
FROM     Product
ORDER BY   manufacturer ASC, price DESC

 * sqlite://
Done.

[(129.99, 'Brauberg'),
 (39.99, 'Energizer'),
 (89, 'Redbull'),
 (949.99, 'Sven'),
 (39.99, 'Академия холдинг')]

Можно делать сортировку по порядковому номеру, но довольно часто это считается bad practice

In [ ]:
%%sql
SELECT   price, manufacturer
FROM     Product
ORDER BY   2 ASC, 1 DESC

 * sqlite://
Done.

[(129.99, 'Brauberg'),
 (39.99, 'Energizer'),
 (89, 'Redbull'),
 (949.99, 'Sven'),
 (39.99, 'Академия холдинг')]

Работа с несколькими таблицами
------


* Рассмотрим таблицу компаний.
> company(<u>cname</u>, production, country)

In [ ]:
%%sql
drop table if exists product;
drop table if exists company;

create table company (
    cname varchar primary key,    -- Имя
    production varchar,           -- Продукция
    country varchar);             -- Страна

insert into company values ('Brauberg', 'Товары для офиса', 'Россия');
insert into company values ('Energizer', 'Аккумуляторы', 'США');
insert into company values ('Sven', 'Акустическая система и компьютерная периферия', 'Финляндия');

 * sqlite://
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%sql select * from company;

 * sqlite://
Done.

[('Brauberg', 'Товары для офиса', 'Россия'),
 ('Energizer', 'Аккумуляторы', 'США'),
 ('Sven', 'Акустическая система и компьютерная периферия', 'Финляндия')]

Внешние ключи
-----------------------
* Допустим мы ходим добавить таблицу продуктов

> Product(pname, price, category, manufacturer)

* Может возникнуть следующая ситуация: есть компания, продающая какие-то продукты, но при этом она отсутствует в таблице компаний.
* Чтобы избежать это, воспользуемя _внешними ключами_

Назвнание компании в product _ссылается_ на поле cname из таблицы company:

> foreign key (manufacturer) references company(cname)

  * Замечание: cname <u>должно быть</u> ключом в  company!

In [ ]:
%%sql 

drop table if exists product;

pragma foreign_keys = ON; -- WARNING by default off in sqlite

create table product(
       pname        varchar primary key,  -- имя продукта
       price        money,                -- цена продукта
       category     varchar,              -- категория
       manufacturer varchar NOT NULL,      -- производитель
       foreign key (manufacturer) references company(cname)
);

insert into product values('Клавиатура', 949.99, 'Техника', 'Sven');
insert into product values('Наушники', 1999.99, 'Техника', 'Sven');
insert into product values('Степлер', 129.99, 'Канцелярия', 'Brauberg');
insert into product values('Маркер', 59.99, 'Канцелярия', 'Brauberg');
insert into product values('Батарейка', 39.99, 'Для дома', 'Energizer');

 * sqlite://
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Внешние ключи являются _ограничениями_ таблицы 
> Что случится при вставке компании, которой не в таблице company?

In [ ]:
try:
    %sql insert into product values('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг');
except Exception as e:
    print (e)
    print ("Rejected!")

 * sqlite://
(sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: insert into product values('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Rejected!

In [ ]:
%%sql
-- the update is rejected!
select * from product;

 * sqlite://
Done.

[('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Наушники', 1999.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Маркер', 59.99, 'Канцелярия', 'Brauberg'),
 ('Батарейка', 39.99, 'Для дома', 'Energizer')]

In [ ]:
%%sql 
select * from company;

 * sqlite://
Done.

[('Brauberg', 'Товары для офиса', 'Россия'),
 ('Energizer', 'Аккумуляторы', 'США'),
 ('Sven', 'Акустическая система и компьютерная периферия', 'Финляндия')]

Внешние ключи и удаление
=============

* Что произойдет, если мы удалим компанию ? Несколько вариантов:
  * Запретить удаление (default)
  * Удалить все продукты (добавьте "`on delete cascade`")
  * Замена на  NULL или DEFAULT

**Первый вариант (default)- Удаление запрещено**

In [ ]:
try:
    %sql delete from company where cname = 'Brauberg';
except Exception as e:
    print (e)
    print ("Rejected!")

 * sqlite://
(sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: delete from company where cname = 'Brauberg';]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Rejected!

**Второй вариант: удалить все продукты, принадлежащие компании, которую мы удаляем**

Необходимо изменить опеределение в create table:
> foreign key (manufacturer) references company(cname) on delete cascade

Теперь, когда строка компании удалена, все продукты с указанной компанией, будут также удалены.

Соединения
------
> Product (<u>pname</u>,  price, category, manufacturer)<br>
> Company (<u>cname</u>, production, country)

Мы хотим ответить на вопрос

> Найти все продукты меньшие 100р, произведенные в России

> Возвратить их имена и цену.

In [ ]:
%%sql
SELECT pname, price
FROM product, company
where manufacturer=cname and country='Россия' and price < 100;

 * sqlite://
Done.

[('Маркер', 59.99)]

Другой вариант написания запроса.

In [ ]:
%%sql -- Часть 1: выбрать все компании из России
SELECT distinct cname -- нужна ли нам уникальность?
from company where country='Россия';

 * sqlite://
Done.

[('Brauberg',)]

In [ ]:
%%sql -- Часть 2: Продукты до 100
select pname, price, manufacturer
from product
where price <= 100;

 * sqlite://
Done.

[('Маркер', 59.99, 'Brauberg'), ('Батарейка', 39.99, 'Energizer')]

In [ ]:
%%sql 
-- Объединение как cross join
SELECT * 
FROM 
  (SELECT DISTINCT pname, price, manufacturer
   FROM product
   WHERE price <= 100) CheapProducts,
  (SELECT DISTINCT cname
   FROM company
   WHERE country='Россия') RusProducts;

 * sqlite://
Done.

[('Батарейка', 39.99, 'Energizer', 'Brauberg'),
 ('Маркер', 59.99, 'Brauberg', 'Brauberg')]

In [ ]:
%%sql
-- Фильтруем cross join
SELECT DISTINCT pname, price
FROM 
  (SELECT DISTINCT pname, price, manufacturer
   FROM product
   WHERE price <= 100) CheapProducts,
  (SELECT distinct cname
   FROM company
   WHERE country='Россия') RusProducts
WHERE cname = manufacturer;

 * sqlite://
(sqlite3.OperationalError) no such table: company
[SQL: -- Фильтруем cross join
SELECT DISTINCT pname, price
FROM
  (SELECT DISTINCT pname, price, manufacturer
   FROM product
   WHERE price <= 100) CheapProducts,
  (SELECT distinct cname
   FROM company
   WHERE country='Россия') RusProducts
WHERE cname = manufacturer;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Использование конструкции JOIN

Есть другой вариант записи - через конструкцию JOIN. Кроме этого она позволяет делать также внешние запросы.

In [ ]:
%%sql
SELECT *
  FROM product p 
  JOIN company c 
    ON p.manufacturer = c.cname
 WHERE c.country='Россия' 
   AND p.price <= 100;

 * sqlite://
(sqlite3.OperationalError) no such table: company
[SQL: SELECT *
  FROM product p
  JOIN company c
    ON p.manufacturer = c.cname
 WHERE c.country='Россия'
   AND p.price <= 100;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Примечания
--------
* Есть множество логических вариантов написать один и тот же запрос
    * Этот факт будет использоваться для оптимизации

Дубли после соединения
--------------------------

Замечание - могут возникнуть дубли после соединения...

In [ ]:
%%sql
SELECT Country
FROM Product, Company
WHERE manufacturer=cname AND category='Канцелярия';

 * sqlite://
(sqlite3.OperationalError) no such table: Company
[SQL: SELECT Country
FROM Product, Company
WHERE manufacturer=cname AND category='Канцелярия';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Группировка

Можно осуществлять схлопывание строк в рамках каких-нибудь групп

После схлопывания можно применять так называемые агрегатные функции

AVG(<поле>) 

SUM(<поле>)

MIN(<поле>)

MAX(<поле>)

COUNT(<поле>)

COUNT(*)

AVG(distinct <поле>)

SUM(distinct <поле>)

COUNT(distinct <поле>)

In [ ]:
%%sql 
select category, avg(price), min(price), max(price), sum(price)
from Product
group by category

 * sqlite://
Done.

[]

Существует возможность фильтровать не только по строкам, но и по группам. Для этого можно использовать инструкцию HAVING

In [ ]:
%%sql 
select category, avg(price), min(price), max(price), count(price)
from Product
group by category
having min(price) < 100

 * sqlite://
Done.

[]

In [ ]:
%%sql 
select category, count(*) as star, count(category) as cat, count(distinct category) as dist
from Product
group by category;

 * sqlite://
Done.

[]

count(*) - кол-во строк

count(<поле>) - кол-во непустых строк

count(distinct <поле>) - кол-во уникальных непустых строк

In [ ]:
%%sql 
drop table if exists numbers;

create table numbers(a int, b int);

insert into numbers 
  values (1,2), (2,3), (4,null), (null,null), (null,5);

 * sqlite://
Done.
Done.
5 rows affected.

[]

In [ ]:
%sql select * from numbers;

 * sqlite://
(sqlite3.OperationalError) no such table: numbers
[SQL: select * from numbers;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql 
select sum(a+b) as sum1,
       sum(a) + sum(b) as sum2 
       from numbers;

 * sqlite://
(sqlite3.OperationalError) no such table: numbers
[SQL: select sum(a+b) as sum1,
       sum(a) + sum(b) as sum2
       from numbers;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql 
select a || '+' || b as concat
       from numbers;

 * sqlite://
(sqlite3.OperationalError) no such table: numbers
[SQL: select a || '+' || b as concat
       from numbers;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql 
select *
  from numbers
where a>0;

 * sqlite://
(sqlite3.OperationalError) no such table: numbers
[SQL: select *
  from numbers
where a>0;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)